#source {
  display: none;
}

#canvas-container {
  margin-top: 20px;
  text-align: center;
}

body{
  background-image: url('../img/1.jpg');
  background-size: 100%
}

#canvas{
  background-color: white;
}
